.sidebar-aside {
  width: 200px;
  min-height: 100vh;
  background: linear-gradient(to right, #17202a, #2c3e50);
  padding: 1rem;
  border-right: 1px solid #ddd;
}

.sidebar-aside h3 {
  color: #bdc3c7;
}

.sidebar-menu-item {
  margin-bottom: 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 8px 0;
  color: #bdc3c7;
}

.sidebar-menu-item i {
  margin-right: 10px;
  font-size: 1em;
}

.sidebar-menu-item span {
  flex-grow: 1;
}

.sidebar-menu-item-active {
  font-weight: bold;
  color: #007bff;
}